:root {
    --button-size: 8vh;
    --key-width: calc(var(--button-size) * 5 / 6);
    --key-height: calc(var(--button-size) * 8 / 7);
    --key-gap: calc(var(--button-size)/10);
    --bar-height: 15vh;
    
    --key-font-size: 18px;
    --special-key-width: calc(var(--button-size) * 1.3);
    --grid-width: calc(5 * var(--button-size) + 4 * var(--key-gap));
    --grid-height: calc(6 * var(--button-size) + 4 * var(--key-gap));
    --big-gap: calc((100vw - 2 * var(--grid-width)) / 3);
    --right-big-gap: calc(var(--big-gap) + var(--grid-width));
    --title-font-size: 6vh; 
}
html, body {
    touch-action: manipulation;
}

* {
    -webkit-tap-highlight-color: transparent;
}
.menu-button {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.retry-button{
    position: absolute;
    top: 8px;
    background-color: white;
    border-color: white;
    left: 40px;
    width: 15px;
    height: 15px;
    
}
.retry-button img.retry-icon {
    width: 15px;  /* Adjust the icon width as needed */
    height: 15px; /* Adjust the icon height as needed */
    object-fit: contain;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 10px;
    top: 50px;
    min-width: 160px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.top-bar {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center;
    background-color: white;
    color: black;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    z-index: 1000;
}

.grid-container-left {
    position: absolute;
    left: var(--big-gap);
    top: 12%;
}

#titleLabel {
    font-size: 25px;
    margin-bottom: 20px;
}

.grid-container-right {
    position: absolute;
    right: var(--right-big-gap);
    top: 12%;
}

#gridPane1, #gridPane2 {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, var(--button-size));
    gap: 5px;
    width: var(--grid-width);
}

button {
    width: var(--button-size);
    height: var(--button-size);
    color: black;
    font-size: calc(var(--button-size) / 2);
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 10vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#keyboard-container {
    top: calc(12vh + var(--grid-height) + 4vh );
    left: calc(var(--big-gap) - (var(--key-width)*10.9 - var(--grid-width)) / 2 );
    position:absolute; /* Use flex for centering */
    flex-direction: column;
    align-items: center;
    gap: var(--key-gap);
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.6); /* White with slight transparency */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: var(--key-gap);
}

.row2 {
    margin-left: calc(var(--key-width) / 2);
}

.row3 {
    justify-content: space-between;
}
.modal-content button {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
}
button.key {
    background-color: lightgrey;
    width: var(--key-width); /* Adjust width according to the button size variable */
    height: var(--key-height); /* Adjust height according to the button size variable */
    color: black;
    font-size: calc(var(--button-size) / 2.5); /* Adjust font size based on button size */
    font-weight: bold;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
    border-radius: var(--key-gap); /* Adjust the border radius to make the corners rounded */
    padding: 0; /* Remove padding if it's already adjusted */
}

button.backspace {
    width: var(--special-key-width);
    height: var(--key-height);
    background-image: url('../assets/backspace.png'); /* Path to your icon */
    background-size: calc(var(--button-size) / 1.5);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.enter {
    width: calc(var(--button-size) * 1.3);
    font-size: calc(var(--button-size) / 3.5);
}

.modal-content button {
    width: auto;
    height: auto;
    font-size: 16px;
    margin: 10px;
    padding: 10px 20px;
}
@media (max-aspect-ratio: 3/2) {
    :root {
        --key-width: calc(var(--button-size) * 5 / 6);
        --key-height: calc(var(--button-size) * 8 / 7);
        --key-gap: calc(var(--button-size) / 10);
        --bar-height: 15vh;
        --key-bg-color: #e0e0e0;
        --key-border-color: #ccc;
        --key-hover-bg-color: #d0d0d0;
        --key-active-bg-color: #c0c0c0;
        --key-font-size: 18px;
        --special-key-width: calc(var(--key-width) * 39 / 25);
        --keyboard-width: calc(var(--key-width) * 10.9);
        --grid-width: calc(5 * var(--button-size) + 4 * calc(var(--button-size) / 10));
        --grid-height: calc(6 * var(--button-size) + 4 * calc(var(--button-size) / 10));
    }
    
    .grid-container-left {
        position: absolute;
        left: calc(50vw - var(--grid-width)/2);
        top: 12vh;
    }
    .grid-container-right {
        position: absolute;
        left: calc(50vw - var(--grid-width)/2);
        top: 100vh;
    }
    
    #gridPane1, #gridPane2 {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(5, var(--button-size));
        gap: calc(var(--button-size)/10);
        width: var(--grid-width);
    }
    #keyboard-container {
        top: calc(12vh + var(--grid-height) + 4vh );
        left: calc(50vw - var(--keyboard-width) / 2);
        position:absolute; /* Use flex for centering */
        flex-direction: column;
        align-items: center;
        gap: var(--key-gap);
    }
}
@media (max-aspect-ratio: 5/6) {
    :root {
        --key-width: calc(8vw);
        --key-height: calc(var(--button-size) * 8 / 7);
        --keyboard-width: calc(var(--key-width) * 10.9);
        --key-gap: calc(var(--button-size) / 10);
        --bar-height: 15vh;
        --key-bg-color: #e0e0e0;
        --key-border-color: #ccc;
        --key-hover-bg-color: #d0d0d0;
        --key-active-bg-color: #c0c0c0;
        --key-font-size: 18px;
        --special-key-width: calc(var(--key-width) * 39 / 25);
        --grid-width: calc(5 * var(--button-size) + 4 * calc(var(--button-size) / 10));
        --grid-height: calc(6 * var(--button-size) + 4 * calc(var(--button-size) / 10));
    }
    #titleLabel {
        font-size: 8vw;
    }
    #keyboard-container {
        top: calc(12vh + var(--grid-height) + 4vh );
        left: 0;
        position:absolute; /* Use flex for centering */
        flex-direction: column;
        align-items: center;
        gap: var(--key-gap);
    }
}

@media (max-aspect-ratio: 1/2) {
    :root {
        --button-size: 15vw;
        --key-width: calc(8vw);
        --key-height: calc(var(--button-size) * 1.4);
        --key-gap: calc(var(--button-size) / 10);
        --bar-height: 15vh;
        --key-bg-color: #e0e0e0;
        --key-border-color: #ccc;
        --key-hover-bg-color: #d0d0d0;
        --key-active-bg-color: #c0c0c0;
        --key-font-size: 18px;
        --special-key-width: calc(var(--key-width) * 39 / 25);
        --grid-width: calc(5 * var(--button-size) + 4 * calc(var(--button-size) / 10));
        --grid-height: calc(6 * var(--button-size) + 4 * calc(var(--button-size) / 10));
    }
    #game-container {
        justify-content: center; /* Center horizontally */
        text-align: center;
        display: flex;
        margin-top: 15vh; /* Margin to push content below the top bar */
        width: 100%;
        height: auto;
    }
    #keyboard-container {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--key-gap);
    }
    .grid-container-right {
        position: absolute;
        left: calc(50vw - var(--grid-width)/2);
        top: calc(var(--button-size)*6.6 + var(--key-height)*3 + 20vh);
    }
}
